.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.is-done {
  opacity: 0.3;
  text-decoration: line-through;
}

.selected {
  background-color: yellowgreen;
  outline: transparent;
}

.error {
  border: 2px solid red;
  outline: transparent;
}

.error-message {
  color: red;
  outline: transparent;
}

.task {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
}